!.Xdefaults
!.gitignore
!.Xresources
!.config/
!.zsh_history
#!.emacs.d/

autokey.pid
autokey.log.[0-9]
autokey.log
.config/chromium/
.config/banshee-1/
.config/xfce4/
.config/evolution/
.config/scribes/

.emacs.d/.python-environments
.emacs.d/elpa
.emacs.d/var
.emacs.d/auto-save-list
.emacs.d/projectile-bookmarks.eld
.emacs.d/ac-comphist.dat
.emacs.d/custom.el
.emacs.d/desktop/
.emacs.d/elpa/
.emacs.d/recentf

emacs/custom.el
emacs/desktop/
emacs/elpa/
emacs/recentf
emacs/places
emacs/transient/

.DS_Store
