# local.config for Asus Zephyrus G14 (2022)

set $laptop eDP-2
bindswitch --reload --locked lid:on output $laptop disable
bindswitch --reload --locked lid:off output $laptop enable
output eDP-2 scale 1.3

output DP-3 pos 0 0 
output eDP-2 pos 2560 100

input type:touchpad {
    accel_profile adaptive
    click_method clickfinger
    drag enabled
    dwt enabled
    middle_emulation enabled
    pointer_accel 0.8
    scroll_method two_finger
    tap enabled
}
